<div class="p-6">

     <div class="sm:flex sm:justify-between sm:items-center">
                <!-- Left: Title -->
                <div class="mb-4 sm:mb-0 py-5">
                    <h1 class="text-xl md:text-3xl text-slate-800 text-white font-bold">Data Barang</h1>
                </div>
            </div>
  <!-- Tombol Aksi -->
  <div class="flex justify-between items-center mb-4 rounded-full">
    <button class="bg-white text-black px-4 py-2 rounded-full flex items-center">
      <span>Tambah Data</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
      </svg>
    </button>

    <div class="flex items-center space-x-2">
      <!-- Search bar -->
      <div class="relative">
        <input type="text" placeholder="Search..." class="bg-white px-4 py-2 rounded-full text-black focus:outline-none"/>
        <svg xmlns="http://www.w3.org/2000/svg" class="absolute right-3 top-1/2 transform -translate-y-1/2 h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M4.75 11a7 7 0 1114 0 7 7 0 01-14 0z" />
        </svg>
      </div>
    </div>
  </div>

  <!-- Tabel -->
  <table class="min-w-full bg-white rounded-md">
    <thead>
      <tr>
        <th class="py-3 px-6 bg-gray-200 text-left">Id Brng</th>
        <th class="py-3 px-6 bg-gray-200 text-left">Nama Barang</th>
        <th class="py-3 px-6 bg-gray-200 text-left">Stok</th>
        <th class="py-3 px-6 bg-gray-200 text-left">Harga Beli</th>
        <th class="py-3 px-6 bg-gray-200 text-left">Harga Jual</th>
        <th class="py-3 px-6 bg-gray-200 text-left">Keterangan</th>
        <th class="py-3 px-6 bg-gray-200 text-left">Aksi</th>
      </tr>
    </thead>
    <tbody>
        <% if(allBarang.length > 0) { %> <% allBarang.forEach((b, index) => { %>
            
        
      <tr class="">
        <td class="py-4 px-6"><%= b.kode %></td>
        <td class="py-4 px-6"><%= b.nama_barang %></td>
        <td class="py-4 px-6"><%= b.stok %></td>
        <td class="py-4 px-6"><%= b.harga_beli %></td>
        <td class="py-4 px-6"><%= b.harga_jual %></td>
        <td class="py-4 px-6"><%= b.keterangan %></td>
        <td class="py-4 px-6">
        <a href="" class="btn bg-yellow-500 hover:bg-yellow-600 text-white font-semibold rounded-md px-4 py-2">Ubah Data</a>
        </td>
      </tr>
      <% }) %>
      <% } else { %>
        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap justify-center" colspan="7">
            <div class="text-center font-medium justify-center">Data tidak ada!</div>
        </td>
        <% } %>
    </tbody>
  </table>
</div>
